{#
  Twig renderer for the Accession Reference Widget. Variables available include:
#}
{#{{ dump() }}#}
{% set label_attributes = title_attributes ? title_attributes : create_attribute() %}
{% set wrapperclass = "form-check" %}
{% set labelclass = "form-accession-reference--label" %}
{% set inputclass = "form-accession-reference--input" %}
{%
  set classes = [
  'js-form-item',
  'js-form-type-' ~ type|clean_class,
  'form-type-' ~ type|clean_class,
  'js-form-item-' ~ name|clean_class,
  'form-item-' ~ name|clean_class,
  title_display not in ['after', 'before'] ? 'form-no-label',
  disabled == 'disabled' ? 'disabled',
  errors ? 'has-error',
]
%}
{% if title_display == 'invisible' %}
  {% if labelclass is defined %}
    {% set labelclass = labelclass ~ ' visually-hidden' %}
  {% else %}
    {% set labelclass = 'visually-hidden' %}
  {% endif %}
{% endif %}
{%
  set description_classes = [
  'description',
  description_display == 'invisible' ? 'visually-hidden',
]
%}
<div{{ attributes.addClass(classes) }}>
  {% if description_display == 'before' and description %}
    <div{{ description_attributes.addClass(description_classes) }}>
      {{ description }}
    </div>
  {% endif %}
  {% if prefix is not empty %}
    <span class="field-prefix">{{ prefix }}</span>
  {% endif %}
  {% if label_display in ['before', 'invisible'] %}
    <label {{ label_attributes.addClass(labelclass).setAttribute('for', input_attributes.id) }}>
      {{ title | raw }}
    </label>
  {% endif %}

  <span class="groupref"><input{{ content.groupref.attributes.addClass(inputclass) }}/></span>
  <span class="separator">{{ content.separator.value }}</span>
  <span class="itemref"><input{{ content.itemref.attributes.addClass(inputclass) }}/></span>

  {% if label_display == 'after' %}
    <label {{ label_attributes.addClass(labelclass).setAttribute('for', input_attributes.id) }}>
      {{ title | raw }}
    </label>
  {% endif %}
  {% if suffix is not empty %}
    <span class="field-suffix">{{ suffix }}</span>
  {% endif %}
  {% if errors %}
    <div class="invalid-feedback">
      {{ errors }}
    </div>
  {% endif %}
  {% if description_display in ['after', 'invisible'] and description %}
    <small{{ description_attributes.addClass(description_classes).addClass('text-muted') }}>
      {{ description }}
    </small>
  {% endif %}
</div>
